<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Job Board</title>
  <!-- <link rel="stylesheet" href="app.css" /> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" async></script>
</head>
<body>
  <header>
    <h1>Job Board</h1>
  </header>

  <table>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Location</th>
      <th>Posted</th>
    </tr>
    <tr>
      <td><a href="/jobs/123">Web Designer</a></td>
      <td>thoughtbot</td>
      <td>Boston</td>
      <td><time datetime="2010-1-14">last Thursday</time></td>
    </tr>
  </table>
</body>
</html>
