<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>New job</title>
  <!-- <link rel="stylesheet" href="app.css" /> -->
</head>
<body>
  <h1>New job</h1>

  <form action="/jobs">
    <input name="position" placeholder="Position">
    <input name="description" placeholder="Description">
    <input name="company" placeholder="Company">
    <input name="company_url" placeholder="Company URL" type="url">
    <input name="location" placeholder="Location">
    <input type="submit" value="Create job">
  </form>
</body>
</html>
